# Ignorar dependências do Node
node_modules/

# Ignorar arquivos de cache e logs
npm-debug.log
yarn-error.log
.npm/

# Ignorar pastas de sistema operacional
.DS_Store
Thumbs.db

# Ignorar pastas de IDEs e editores
.vscode/
.idea/

# Ignorar builds locais do Android e iOS
android/build/
android/app/build/
ios/build/

# Ignorar arquivos de ambiente local
.env